<Navbar-selector></Navbar-selector>
<div class="container mb-5">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{product.title}}</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
            <img class="border" src={{product.images[0]}} alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
            <p>{{product.description}}</p>
            <p>Price : {{product.price}}</p>
            <div>
                <button class="btn btn-primary"> Add To Card</button>
            </div>
        </div>

    </div>
</div>
<Footer-selector></Footer-selector>




