<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <a class="navbar-brand ms-5">Navbar</a>
  <button class="navbar-brand btn btn-link border border-secondary me-5" (click)="logout()">
    logout
  </button>
</nav>

<div class="container">
  <h4>welcome {{currentUser.name}}</h4>
  <div class="row">
    <div class="card col-sm" >
      <img
        class="card-img-top"
        src="https://picsum.photos/200/300"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a  class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-sm">
      <img
        class="card-img-top"
        src="https://picsum.photos/200/300"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-sm">
      <img
        class="card-img-top"
        src="https://picsum.photos/200/300"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a  class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
